
<div class="container">
<div class="row">
  <!-- @@@@@@@@ section for primary info @@@@@@@@@@@@ -->
  <div class="col-6 container-1">
    <div class="weather_condition_icon">
      <!-- weather icon -->
    </div>

    <div class="weather_condition_description">
      <h1 class="weather_condition_description_element">
        
      </h1>
    </div>

    <div class="weather_condition_temperature">
      <h2 class="weather_condition_temperature_element"><span class="weather_condition_temperature_element_numeric"></span>
      </h2>
    </div>

  </div>
  <!-- @@@@@@@@@@@ section for secondary info @@@@@@@2-->
  <!-- @@ secondary info contains presuure, humidity, min max temp, wind speed,  sunrise, sunset. @@ -->
  <div class="col-6 container-2">

    <div class="weather_sec_min_temp">
      <!-- a small icon for some what nice looking thing -->
      The minimum temperature is 23 <sup>o</sup>C
    </div>

    <div class="weather_sec_max_temp">
      <!-- a small icon for some what nice looking thing -->
      The maximum temperature is 33 <sup>o</sup>C
    </div>

    <div class="weather_sec_humidity">
      <!-- a small icon for some what nice looking thing -->
      Humidity of the area is ...
    </div>

    <div class="weather_sec_pressure">
      <!-- a small icon for some what nice looking thing -->
      Pressure of the area is newton per meter.
    </div>

    <div class="weather_sec_wind_speed">
      <!-- a small icon for some what nice looking thing -->
      Wind speed of London is 1 kmph.
    </div>

    <div class="weather_sec_sunInfo">
      <!-- a small icon for some what nice looking thing -->
      The sun rises at ... and sets at ....
    </div>
  </div>
</div>
</div>
