<footer class="footsy">
  <div class="row">
    <div class="col-3 classStack">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Careers</li>
        <li>Blogs</li>
      </ul>
    </div>
    <div class="col-3 classStack">
      <h1>Computers</h1>
      <ul>
        <li>iPad</li>
        <li>Lenovo</li>
        <li>HP</li>
      </ul>
    </div>
    <div class="col-3 classStack">
      <h1>Industry</h1>
      <ul>
        <li>Local</li>
        <li>National</li>
        <li>International</li>
      </ul>
    </div>
    <div class="col-3 classStack">
      <h1>Acknow</h1>
      <ul>
        <li>Dikshit</li>
        <li>Supporters</li>
        <li>Sponsers</li>
      </ul>
    </div>
  </div>
</footer>
