<header class="row">
<!-- @@@@@@@@@ search field @@@@@@@@@@ -->
<div class="col-8">
  <div class="search_field">
    <input type=text class="search_field_input" placeholder="Search for places,cities....">
  </div>
</div>
<!-- @@@@@@@@@@ search button @@@@@@@@@@@@ -->
<div class="col-4">
  <div class="search_button">
    <input type="submit" value="search" class="search_button_submit">
  </div>
</div>
</header>
