<div class="container-mail_box">
  <div class="row">
    <!-- @@@@@@ this part is for the email and feedback portion @@@@@@ -->
    <div class="col-8">
      <form>

        <div class="container-mailBox">

          <h1 class="mail_heading">
            SEND YOUR FEEDBACK :->
          </h1>

          <div class="mail_box-email">
            <input type="text" placeholder="Enter your email here :-)">
          </div>

          <div class="mail_box-message">
            <input type="text" placeholder="Enter your message/feedback here :-)">
          </div>

          <div class="mail_box-submitButton">
            <input type="submit">
          </div>

        </div>

      </form>
    </div>
    <!-- @@@@@@@@@@ this part is for the creators panel part which is not necessary to be designed right now @@@@@@@@@@@@@@ -->
    <div class="col-4">

      <div class="container-creatorPanel">

        <div class="creator_image">
          <img src="img/creator.jpg" alt="creator_image">
        </div>

        <h1 class="creatorName">Dikshit Upadhya</h1>

        <h2 class="creatorDescription">Web Developement as a part time profession. Studies at Assam Engineering College. Pursuing Computer Science Engineering. Studied earlier at Kendriya Vidyalaya Duliajan.</h2>

      </div>

    </div>
  </div>
</div>
