<!DOCTYPE html>
<head>
  <title>
    Open Weather 2
  </title>
  <link rel="icon" href="/img/icon-weather.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>
<!-- ########### header for the search bar ############ -->

{{>header}}

<!-- ############# display box for the main contents ######## -->

<!-- @@@@@@ inside of the display box, there will be two main columns, one will be consisting of the icon, weather description, and the average temperature,, and inside the second main column, there will be additional stuff, like humidity, max-min temperature, altitude and the other info acquired by the api @@@@@-->

{{>displayBox}}

<!-- ############ email and creators panel ############# -->

<!-- @@@@ this will contain an email panel for people to send any kind of mail or feedback, and also a creators panel where there will be stored an image of the creator and a small description of the creator @@@@ -->

{{>mailBox}}

<!-- @@@@@@@@@@ yet not decided how to style it @@@@@@@@@@@@@@ -->
<br><br>

{{>footer}}

<script src="/js/app.js"></script>
</body>
</html>
